body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fa3729;
}

header {
    background-color: #2b2b2e;
    color: rgb(247, 119, 119);
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #3d3df7;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav a {
    color: rgb(48, 49, 49);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #f3ecd0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
}

.devocional {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.devocional h2 {
    background-color: #004080;
    color: white;
    margin: 0;
    padding: 15px;
}

.devocional p {
    padding: 15px;
    line-height: 1.6;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 12px;
}

#header {
    position: relative;
    height: 20vh;
    background: linear-gradient(to bottom, #2a4365, #1a202c);
    color: rgb(250, 246, 246);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

@font-face {
  font-family: MyHelvetica;
  src: local("Helvetica Neue Bold"),
  local("HelveticaNeue-Bold"),
  url(MgOpenModernaBold.ttf);
  font-weight: bold;
}

  